body {
  background: #4a84ff;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

header {
  background-color: #4a84ff;
  padding-bottom: 0px; }
  header #search_block_top #search_query_top {
    border-radius: 6px;
    background-color: #457df3;
    border: none;
    color: #fff;
    font-family: Ubuntu;
    font-size: 13px;
    border: none !important;
    font-style: italic; }
  header #search_block_top #search_query_top::placeholder {
    color: #fff; }
  header .row #header_logo {
    width: 20%; }
  header #search_block_top .btn.button-search {
    height: 45px;
    background: url(../img/custom/search.svg) center center no-repeat; }

#header .shopping_cart {
  position: relative;
  float: right;
  padding: 23px 10px 21px 10px;
  border-right: 1px solid #457df2;
  border-left: 1px solid #457df2; }

.shopping_cart > a:first-child {
  padding: 6px 10px;
  background: transparent;
  border-radius: 4px;
  text-shadow: none; }

.shopping_cart > a:first-child:before {
  display: none; }

.shopping_cart {
  width: 200px; }

.shopping_cart .right-text {
  font-size: 13px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap; }

#header .shopping_cart > a:first-child:after {
  padding: 2px 0 0 0;
  color: #fff;
  font-size: 15px; }

.header_user_info a:hover, .header_user_info a.active {
  background: #457df2;
  border-radius: 4px; }

.header_user_info {
  position: relative;
  border-right: none;
  float: right;
  padding: 24px 10px 16px 10px;
  border-left: 1px solid #457df2; }

.links-account {
  float: left; }

.header_user_info a img, .shopping_cart > a:first-child > img {
  margin-right: 5px; }

.header_user_info a {
  color: #fff;
  font-weight: bold;
  display: block;
  padding: 6px 9px 11px 8px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500; }

#header .cart_block .product-atributes a {
  color: #fff; }

#header .cart_block a:hover {
  color: #fff; }

#header .cart_block .cart-prices {
  border: none;
  background: #427bf1; }

#header .cart_block {
  position: absolute;
  top: 65px;
  right: 10px;
  z-index: 100;
  height: auto;
  background: #457df2;
  color: #fff;
  width: 270px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  #header .cart_block span, #header .cart_block a {
    color: #fff; }

.cart_block .cart-prices .cart-prices-line {
  overflow: hidden;
  border-bottom: 1px solid #fff;
  padding: 7px 0; }

#header .cart_block .cart-buttons {
  background: #4a84ff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.cart_block .cart-buttons a#button_order_cart span {
  padding: 7px 0;
  font-size: 1.1em;
  border: none;
  color: inherit;
  text-shadow: none;
  background: none; }

.cart_block .cart-buttons a {
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 10px;
  background: #fff;
  border: none !important;
  border-radius: 5px;
  text-shadow: none;
  color: #4a84ff !important; }
  .cart_block .cart-buttons a:hover {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 10px;
    background: #fff;
    border: none !important;
    border-radius: 5px;
    text-shadow: none;
    color: #4a84ff !important; }

.cart_block .cart-buttons a#button_order_cart:hover span {
  border: none;
  background: #f7f7f7;
  color: #4a84ff;
  border-radius: 5px; }

.shopping_cart > a:first-child:hover {
  background: #457df2; }

.top_nav {
  box-shadow: 0 2px 4px #d9dded;
  background-color: #ffffff; }
  .top_nav #block_top_menu {
    padding-top: 0px; }
  .top_nav .sf-menu {
    position: relative;
    padding: 0;
    width: 100%;
    border-bottom: none;
    background: transparent; }
  .top_nav .sf-menu > li.sfHover > a, .top_nav .sf-menu > li > a:hover, .top_nav .sf-menu > li.sfHoverForce > a {
    background: #eaeaea;
    border: none; }
  .top_nav .sf-menu > li {
    margin-bottom: 0px;
    border-color: #eaeaea; }
    .top_nav .sf-menu > li > a {
      text-transform: none;
      font-weight: 700;
      color: #4a84ff;
      font-size: 15px;
      border: none; }
      .top_nav .sf-menu > li > a:hover {
        background: none; }
  .top_nav .sf-menu > li > ul > li > a {
    text-transform: none;
    color: #4a84ff; }
  .top_nav .sf-contener {
    clear: both;
    float: left;
    width: 58.33333%; }
  .top_nav .right-contact {
    float: right;
    font-size: 13px;
    font-weight: 500;
    color: #2d3750; }
    .top_nav .right-contact i {
      color: #2d3750;
      font-size: 13px;
      font-weight: 500;
      padding-right: 0px;
      margin-right: 5px; }
    .top_nav .right-contact a {
      color: #2d3750; }
    .top_nav .right-contact .shop-phone, .top_nav .right-contact #contact-link {
      float: right;
      padding: 17px 8px;
      font-size: 13px;
      font-weight: 500;
      color: #2d3750; }
    .top_nav .right-contact #contact-link {
      border: none;
      float: right;
      font-size: 13px;
      font-weight: 500;
      color: #2d3750; }

.columns-container {
  background: #f6f7fb; }

.footer-container {
  background: url(../img/custom/footer-bg.png) repeat-x #2c3650; }

.footer-container #footer {
  color: #fff; }

.footer-container #footer ul li a {
  font-weight: 500;
  text-shadow: none;
  color: #fff;
  font-size: 14px; }

#columns {
  position: relative;
  padding-bottom: 20px;
  padding-top: 45px; }

.footer-container #footer .blockcategories_footer ul li a::before, .footer-container #footer #block_various_links_footer ul li a::before, .footer-container #footer ul li a::before {
  content: "\f105";
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: 3px;
  color: #fff;
  transition: 0.6s; }

.footer-container #footer .blockcategories_footer ul li a:hover::before, .footer-container #footer #block_various_links_footer ul li a:hover::before, .footer-container #footer ul li a:hover::before {
  content: "\f105";
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: 8px;
  color: #fff;
  transition: 0.6s; }

.footer-container #footer #block_contact_infos {
  border-left: none; }

#block_contact_infos .phone {
  font-size: 26px;
  font-weight: 300;
  float: left; }

#block_contact_infos .date {
  margin-top: 30px;
  font-size: 13px;
  float: left;
  font-weight: 500; }

#block_contact_infos .titleMail {
  font-size: 15px;
  float: left;
  text-transform: uppercase;
  font-weight: 700; }

#block_contact_infos .email {
  font-size: 16px;
  font-weight: 400;
  float: left;
  margin-top: 5px; }

.footer-container #footer ul li {
  padding-bottom: 4px;
  float: left;
  width: 100%; }

#newsletter_block_left {
  width: 100%; }

#newsletter_block_left .icon {
  float: left;
  margin-top: 0px; }

#newsletter_block_left p {
  margin: 15px 0;
  width: 100%;
  float: left; }

#newsletter_block_left .copy {
  float: right;
  font-size: 13px;
  margin-top: 30px; }

#footer #newsletter_block_left .form-group .form-control {
  height: 39px;
  background: #fff;
  border-color: #fff;
  color: #4A4A4A;
  font-style: italic;
  border-radius: 8px;
  padding: 10px 43px 10px 12px;
  display: inline-block;
  float: left;
  width: 100%; }

#footer #newsletter_block_left .form-group .button-small {
  margin-left: -43px;
  border: none;
  background: none;
  text-align: center;
  color: #1b2845;
  padding: 8px;
  text-shadow: none; }

#footer #newsletter_block_left .form-group .button-small:before {
  content: "\f138";
  font-family: "FontAwesome";
  font-size: 21px;
  line-height: 23px; }

#footer #newsletter_block_left .form-group {
  margin-bottom: 0;
  float: left;
  width: 100%; }

#footer #newsletter_block_left {
  overflow: hidden;
  width: 100%; }

#footer h4, h4 a {
  color: #4a84ff !important;
  font-size: 16px;
  font-weight: 500; }

.footer-container #footer .footer-block {
  margin-top: 19px;
  margin-bottom: 30px;
  float: left; }

.footer-container #footer ul li a {
  font-weight: 500;
  text-shadow: none;
  color: #fff;
  line-height: 24px;
  font-size: 13px; }

.footer-container #footer h4 {
  color: #4a84ff !important;
  font-size: 16px;
  font-weight: 500; }

.footer-block ul {
  float: left;
  margin-top: 30px; }

#footer #newsletter_block_left .block_content {
  overflow: hidden;
  float: left;
  width: 100%;
  margin-top: 30px; }
  #footer #newsletter_block_left .block_content img {
    float: left;
    margin-right: 5px;
    height: 31px;
    margin-top: 2px; }
  #footer #newsletter_block_left .block_content .about {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-top: 30px;
    float: left;
    width: 100%; }

#footer #newsletter_block_left h4 {
  color: #4a84ff !important;
  font-size: 16px;
  font-weight: 500; }

#footer #newsletter_block_left .form-group .form-control {
  height: 38px;
  background: #222a40;
  border-color: transparent;
  color: #fff;
  font-style: italic;
  border-radius: 8px;
  padding: 10px 43px 10px 12px;
  display: inline-block;
  float: right;
  width: 80%; }

#footer #newsletter_block_left .form-group .button-small {
  margin-left: 0px;
  border: none;
  background: none;
  text-align: center;
  color: #fff;
  padding: 8px;
  text-shadow: none;
  right: 40px;
  position: absolute; }

#block_contact_infos ul li a::before {
  display: none; }
#block_contact_infos .copy {
  margin-top: 30px;
  float: right;
  line-height: 26px; }
  #block_contact_infos .copy img {
    margin-left: 10px;
    float: right; }
#block_contact_infos small {
  float: left;
  width: 100%;
  margin-bottom: 20px; }
#block_contact_infos strong {
  width: 100%;
  float: left;
  line-height: 13px;
  text-transform: uppercase; }
#block_contact_infos .tel, #block_contact_infos .tel a {
  font-weight: 300 !important;
  font-size: 20px !important;
  line-height: 26px !important;
  width: 100%;
  float: left; }

.footer-container .container {
  padding-bottom: 10px; }

.footer-container #footer h4:after {
  display: none; }

.box {
  background: #fff;
  border-radius: 8px;
  border: none;
  float: left;
  width: 100%; }

.block {
  background: #fff;
  border-radius: 8px;
  border: none;
  float: left;
  width: 100%; }
  .block h4.title_block {
    background: url(../img/custom/title-box.svg) bottom right no-repeat;
    margin: 0px;
    padding: 10px 0 0 10px;
    color: #ffffff;
    font-size: 13px;
    border: 1px solid transparent;
    font-weight: 600;
    height: 33px;
    border: 1px solid transparent;
    border-top-left-radius: 5px;
    min-width: 180px;
    text-align: left;
    float: left;
    padding-right: 40px; }

.comments {
  float: left;
  width: 100%;
  padding-bottom: 30px;
  margin-top: 15px; }
  .comments .title_main {
    text-align: center;
    color: #3b6aff;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 40px; }
  .comments span.name {
    width: 100%;
    float: left;
    background: url(../img/custom/curves.svg) 90% 0% no-repeat;
    color: rgba(45, 55, 80, 0.74);
    font-size: 15px;
    font-weight: 500;
    padding: 15px 0px; }
  .comments .comment-block {
    border-radius: 7px;
    background-color: #f5f6fb;
    float: left;
    text-align: center; }
    .comments .comment-block p {
      color: #2d3750;
      font-size: 14px;
      font-weight: 400;
      padding: 30px;
      line-height: 21px; }
    .comments .comment-block:before {
      background: url(../img/custom/quotation-left.svg) no-repeat;
      position: absolute;
      top: 15px;
      left: 15px; }
    .comments .comment-block:after {
      background: url(../img/custom/quotation-right.svg) no-repeat;
      position: absolute;
      bottom: 15px;
      right: 15px; }

.our-atuts h3 {
  color: #345bff;
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
  padding: 0px; }
.our-atuts h4 {
  color: #2d3750;
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0 10px 0;
  padding: 0px; }
.our-atuts p {
  color: #2d3750;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; }
.our-atuts .img-right {
  padding: 0px 15px 0px 0px; }

.contact-bg {
  background: url(../img/custom/contact-bg.png) top center no-repeat;
  min-height: 480px;
  background-size: cover;
  text-align: center; }
  .contact-bg .img-responsive {
    display: inline; }
  .contact-bg h3 {
    margin-top: 110px;
    color: #f8e71c;
    font-size: 42px;
    font-weight: 700; }
  .contact-bg img {
    height: 85px;
    margin: 30px 0 40px 0; }
  .contact-bg h4 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400; }
  .contact-bg .phone, .contact-bg .phone a {
    color: #ffffff;
    font-size: 39px;
    width: 100%;
    float: left;
    font-weight: 700; }

.tz-man-slider {
  background: #fff;
  border-radius: 5px;
  border: none; }
  .tz-man-slider h4.title_block {
    background: url(../img/custom/title-box.svg) bottom right no-repeat;
    margin: 0px;
    border: 1px solid transparent;
    padding: 10px 0 0 10px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    height: 33px;
    border-top-left-radius: 5px;
    width: 140px; }

.owl-prev {
  left: -5px !important; }

.owl-next {
  right: -5px !important; }

.owl-buttons .owl-prev:before {
  font-family: "FontAwesome";
  content: "\f053";
  color: #898989;
  font-size: 15px; }

.owl-buttons .owl-next:before {
  font-family: "FontAwesome";
  content: "\f054";
  color: #898989;
  font-size: 15px; }

.owl-theme .owl-controls {
  margin-top: 0px;
  text-align: center; }

.tz-man-slider .owl-prev:hover, .tz-man-slider .owl-next:hover {
  border: none !important;
  color: #4a84ff; }

.tz-man-slider .owl-prev:hover:before, .tz-man-slider .owl-next:hover:before {
  color: #4a84ff !important; }

.tz-man-slider .owl-carousel .owl-wrapper-outer {
  padding-bottom: 0px !important;
  padding-top: 0 !important;
  margin-bottom: 0px !important;
  margin-top: 0px; }

ul.product_list.grid > li .product-container {
  box-shadow: 0 2px 4px #e7e9ee;
  border-radius: 8px;
  background-color: #ffffff;
  width: 100%;
  float: left; }
  ul.product_list.grid > li .product-container .left-block {
    width: 100%;
    float: left; }
  ul.product_list.grid > li .product-container .right-block {
    width: 100%;
    float: left; }

ul.product_list.grid > li .product-container .product-image-container {
  border: none;
  padding: 9px; }

ul.product_list .product-name {
  color: #22293f;
  font-size: 13px;
  font-weight: 500; }

.price.product-price {
  color: #3b6aff;
  font-size: 16px;
  font-weight: 700; }

ul.product_list.grid > li .product-container h5 {
  padding: 0px 15px;
  min-height: 50px;
  margin: 0px; }

.button.lnk_view {
  text-shadow: none;
  padding: 0;
  border-radius: 7px;
  border: 1px solid #eaeaea;
  background: #ffffff;
  color: #22293f;
  font-size: 11px;
  font-weight: 500;
  width: 40%;
  text-align: center; }
  .button.lnk_view span {
    border: none;
    background: none; }
  .button.lnk_view:hover {
    border: 1px solid #eaeaea;
    background: #eaeaea; }
    .button.lnk_view:hover span {
      border: none;
      background: none; }

.ajax_add_to_cart_button span:after {
  background: url(../img/custom/add-to-cart.svg) bottom right no-repeat;
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: -3px;
  right: 5px;
  display: block;
  float: left; }

.button.ajax_add_to_cart_button {
  text-shadow: none;
  padding: 0;
  border-radius: 7px;
  border: none;
  background: #4a84ff;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  width: 40%;
  text-align: center; }
  .button.ajax_add_to_cart_button span {
    border: none;
    background: none; }
  .button.ajax_add_to_cart_button:hover {
    border: none;
    background: #3173ff; }
    .button.ajax_add_to_cart_button:hover span {
      border: none;
      background: none; }

ul.product_list.grid > li .product-container .button-container {
  margin-bottom: 0px;
  border-top: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 0;
  float: left;
  width: 100%; }

ul.product_list.grid > li .product-container .button-container .ajax_add_to_cart_button, ul.product_list.grid > li .product-container .button-container span.button, ul.product_list.grid > li .product-container .button-container .lnk_view {
  margin: 0px 10px; }

.new-label:before {
  display: none; }

.new-label:after {
  display: none; }

.new-box {
  position: absolute;
  top: 0px;
  overflow: hidden;
  height: 60px;
  width: 36px;
  text-align: center;
  z-index: 0;
  left: initial;
  right: 0px;
  background: #7ed321;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 20px; }

.new-label {
  padding: 9px 10px;
  text-shadow: none;
  width: 36px;
  height: auto;
  float: right;
  text-align: center;
  display: block;
  position: absolute;
  left: initial;
  right: 0px;
  top: 17px;
  z-index: 1;
  transform: rotate(-90deg);
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0px;
  background: none; }

.sale-box {
  position: absolute;
  top: 0px;
  overflow: hidden;
  height: 60px;
  width: 36px;
  text-align: center;
  z-index: 0;
  left: 0px;
  background: #D0011B;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 20px; }

.sale-label {
  padding: 13px 10px;
  text-shadow: none;
  width: 36px;
  height: auto;
  float: right;
  text-align: center;
  display: block;
  position: absolute;
  left: initial;
  right: 0px;
  top: 17px;
  z-index: 1;
  transform: rotate(-90deg);
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0px;
  background: none; }

.sale-label:before {
  display: none; }

.sale-label:after {
  display: none; }

#index ul.product_list.tab-pane > li {
  padding-bottom: 30px;
  margin-bottom: 0; }

ul.product_list.grid > li .product-container .old-price {
  margin-right: 0px;
  color: #c30016;
  font-size: 12px;
  font-weight: 500;
  text-decoration: line-through; }

ul.product_list.grid > li:hover .product-container {
  box-shadow: 0 4px 6px #dde0e6;
  border-radius: 8px;
  background-color: #ffffff; }

.bx-prev {
  left: -40px;
  height: 40px !important;
  width: 40px !important; }

.bx-next {
  right: -50px;
  height: 40px !important;
  width: 40px !important; }

.bx-wrapper .bx-controls-direction a:before {
  color: #d2d5e0;
  font-size: 30px;
  line-height: 30px; }

h4.title_block_alone {
  background: url(../img/custom/title-h4.svg) bottom right no-repeat;
  margin: 0px;
  padding: 10px 0 0 10px;
  color: #ffffff;
  font-size: 13px;
  border: 1px solid transparent;
  font-weight: 600;
  height: 33px;
  border-top-left-radius: 5px;
  width: 140px;
  margin-bottom: 15px; }

#index .tab-content {
  margin-top: 45px;
  margin-bottom: 45px; }

#slider_row {
  background: #fff;
  border-radius: 5px;
  border: none;
  margin: 0px 0px 15px 0px;
  clear: both; }
  #slider_row h4.title_block {
    background: url(../img/custom/title-box.svg) bottom right no-repeat;
    margin: 0px;
    padding: 10px 0 0 10px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    height: 33px;
    border-top-left-radius: 5px;
    width: 120px; }

#homepage-slider {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0px;
  max-width: 100%;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  float: left; }

#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff;
  opacity: 0.6; }

#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
  opacity: 1; }

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 10px;
  width: auto;
  z-index: 99999 !important;
  right: 10px; }

#homepage-slider .homeslider-description h2 {
  font-size: 2.7em;
  color: #4a84ff;
  margin: 0;
  padding: 0;
  text-transform: normal; }

#homepage-slider .homeslider-description p {
  width: 50%;
  font-size: 14px;
  line-height: 1.3em;
  padding: 0.5em 0;
  color: #2d3750;
  text-transform: normal; }

.btn-default {
  color: #fff;
  background-color: #4a84ff;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  text-transform: normal; }

#homepage-slider .homeslider-description {
  position: absolute;
  left: 0;
  top: 0;
  padding: 100px 50px 0 50px;
  cursor: pointer; }

.cars {
  margin-top: 45px;
  float: left;
  width: 100%; }
  .cars .block_content {
    padding: 15px;
    float: left;
    width: 100%; }
  .cars ul li {
    float: left;
    margin: 2px;
    border: 1px solid #f6f7fb;
    width: 12.12%;
    text-align: center;
    color: #22293f;
    font-size: 13px;
    font-weight: 500;
    min-height: 115px;
    text-transform: uppercase; }
    .cars ul li a {
      display: inline-grid;
      color: #2C3650;
      text-transform: uppercase; }
      .cars ul li a:hover {
        color: #4a84ff; }
    .cars ul li img {
      width: 85px; }

.breadcrumb {
  width: 100%;
  display: inline-block;
  padding: 0px;
  border: none;
  font-weight: bold;
  font-size: 11px;
  line-height: initial;
  min-height: 6px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 16px;
  position: relative;
  z-index: 1;
  background: #fff; }

.breadcrumb .dest-5 {
  display: none; }

.breadcrumb a.dest-1 {
  margin: 0px !important;
  width: 70px;
  text-align: left;
  padding: 0 0 0 19px !important;
  -moz-border-radius-top-left: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  z-index: 99;
  line-height: 32px;
  display: inline-block;
  height: auto;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  background: url(../img/custom/triangle.svg) top right no-repeat; }

.breadcrumb a.next {
  margin: 0px;
  width: 121px;
  text-align: left;
  padding: 0 0 0 27px;
  -moz-border-radius-top-left: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -moz-border-radius-bottomleft: 7x;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  z-index: 99;
  line-height: 32px;
  display: inline-block;
  height: auto;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  background: url(../img/custom/triangle-2.svg) top right no-repeat; }

.breadcrumb a.dest {
  margin: 0px 10px;
  padding: 0px; }

.breadcrumb a:after {
  display: none; }

.breadcrumb a:before {
  display: none; }

.btn.btn-blue {
  float: right;
  background: #4a84ff;
  border-radius: 7px;
  color: #ffffff;
  font-size: 13px !important;
  font-weight: 500;
  padding: 7px 15px; }
  .btn.btn-blue:hover {
    background: #3173ff;
    color: #fff; }

.button.button-medium {
  background: #4a84ff;
  border-radius: 7px;
  color: #ffffff;
  font-size: 13px !important;
  font-weight: 500;
  padding: 3px 15px;
  border: none; }
  .button.button-medium span {
    border: none;
    background: none; }
  .button.button-medium:hover {
    background: #3173ff;
    color: #fff; }

.button.button-small {
  background: #4a84ff;
  border-radius: 7px;
  color: #ffffff;
  font-size: 13px !important;
  font-weight: 500;
  padding: 3px 15px;
  border: none; }
  .button.button-small span {
    border: none;
    background: none; }
  .button.button-small:hover {
    background: #3173ff;
    color: #fff; }

.continue.btn.btn-default.button.exclusive-medium {
  background: #2C3650;
  border-radius: 7px;
  color: #ffffff;
  font-size: 13px !important;
  font-weight: 500;
  padding: 11px 15px;
  border: none; }
  .continue.btn.btn-default.button.exclusive-medium span {
    border: none;
    background: none; }
    .continue.btn.btn-default.button.exclusive-medium span:hover {
      background: transparent; }
  .continue.btn.btn-default.button.exclusive-medium:hover {
    background: #3173ff;
    color: #fff; }

.button.button-small span:hover {
  background: transparent;
  border-color: transparent; }

#layer_cart .layer_cart_product .title {
  display: block;
  font: 400 17px/29px "Ubuntu", sans-serif;
  color: #46a74e;
  margin-bottom: 22px; }

#layer_cart .layer_cart_product .product-image-container {
  max-width: 178px;
  border: none;
  padding: 5px;
  float: left;
  margin-right: 30px; }

.primary_block {
  float: left;
  width: 100%; }

.block_content {
  float: left;
  width: 100%; }

.nav-cat {
  width: 100%; }
  .nav-cat .block_content {
    padding: 15px;
    float: left;
    width: 100%; }
  .nav-cat .name {
    color: #22293f;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    float: left;
    width: 100%;
    margin-bottom: 10px; }
  .nav-cat .con {
    border-radius: 7px;
    background-color: #f6f7fb;
    padding: 15px;
    float: left;
    min-height: 60px;
    width: 100%;
    margin-bottom: 15px; }
  .nav-cat .range {
    color: #2d3750;
    font-size: 11px;
    font-weight: 400; }

.layered_filter {
  border: none; }

.selector {
  width: 100% !important; }
  .selector span {
    width: 100% !important; }

.btn.btn-cat {
  color: #ffffff;
  font-size: 13px !important;
  font-weight: 500;
  padding: 6px 20px; }
  .btn.btn-cat:hover {
    background: #3173ff; }

.con-center {
  text-align: center; }

#category .cars {
  margin-top: 0px; }
#category .name {
  width: 100%;
  float: left; }
#category .img-cat {
  width: 100%;
  float: left;
  text-align: center; }
#category .cars ul li {
  width: 25%;
  margin: 0px;
  min-height: auto; }
  #category .cars ul li a {
    padding: 7px;
    text-align: center; }

.alert {
  border: none !important;
  border-radius: 8px !important; }

.bottom-pagination-content {
  border: none;
  padding-left: 0px;
  padding-right: 0px;
  float: left;
  width: 100%;
  margin-bottom: 30px; }

.top-pagination-content .product-count, .bottom-pagination-content .product-count {
  padding: 11px 0 0 0;
  float: left;
  color: #606c89;
  font-size: 13px;
  font-weight: 500; }

.top-pagination-content ul.pagination, .bottom-pagination-content ul.pagination {
  margin: 8px 0px 8px 0;
  float: right; }

.button.exclusive-medium {
  padding: 0;
  line-height: 21px;
  background: #2C3650;
  color: #fff;
  font-weight: 500;
  border: none;
  text-shadow: none; }
  .button.exclusive-medium span {
    background: none;
    border: none;
    font-size: 12px;
    padding: 3px 5px 4px 5px;
    line-height: normal;
    padding: 6px 15px; }

.top-pagination-content div.pagination .showall, .bottom-pagination-content div.pagination .showall {
  float: right;
  margin: 8px 25px 8px 14px; }

.ui-widget-header {
  border: none !important;
  font-weight: bold;
  background: rgba(74, 132, 255, 0.49); }

.layered_slider {
  margin-top: 5px;
  border: none; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #4a84ff;
  font-weight: normal;
  color: #555555;
  border: none;
  border-radius: 100%; }

.ui-slider-horizontal .ui-slider-handle {
  top: -.2em; }

.page-product-box {
  padding-bottom: 10px;
  float: left;
  width: 100%; }

.product .primary_block {
  padding: 15px; }
.product .pb-left-column #image-block {
  float: left;
  width: 83.2%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #f6f7fb; }
.product .pb-left-column #views_block {
  background: #fff;
  float: right;
  width: 18%;
  margin-left: 2%;
  margin-top: 0px; }
.product .product #thumbs_list {
  overflow: hidden;
  float: left;
  width: 100%;
  border-radius: 7px;
  border: 1px solid #f6f7fb;
  margin-top: 0px;
  padding: 10px; }
  .product .product #thumbs_list li {
    margin-bottom: 5px;
    border: 1px solid #f6f7fb; }

#thumbs_list {
  max-width: 100% !important;
  height: 320px !important;
  margin-top: 10px; }

#thumbs_list ul#thumbs_list_frame {
  max-width: 100% !important;
  height: 285px !important;
  overflow: visible !important; }

.view_scroll_spacer, .carousel-controls {
  top: 0px !important; }

span.view_scroll_spacer .carousel-control.left {
  left: 55px !important;
  top: -25px !important;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

span.view_scroll_spacer .carousel-control.right {
  left: 55px !important;
  top: 295px !important;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

#thumbs_list li a:hover, #thumbs_list li a.shown {
  border-color: #f6f7fb;
  border: 2px solid #f6f7fb; }

.product .pb-left-column #views_block {
  background: #fff;
  float: right;
  width: 14.7%; }

.pb-left-column #image-block #view_full_size .span_link {
  position: absolute;
  bottom: 00px;
  left: 50%;
  margin-left: -68px;
  display: block;
  padding: 10px 0;
  text-align: center;
  line-height: 22px;
  width: 136px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  box-shadow: none;
  border-radius: 5px 4px 0 0;
  background-color: rgba(235, 237, 243, 0.7);
  color: #4a4a4a; }

.pb-left-column #image-block #view_full_size .span_link:after {
  font-family: "FontAwesome";
  font-size: 20px;
  line-height: 22px;
  content: "\f00e";
  font-weight: normal;
  margin: 0 0 0 16px;
  float: left;
  color: #969292; }

.pb-right-column {
  color: #22293f; }
  .pb-right-column h2 {
    color: #22293f;
    font-size: 17px;
    font-weight: 500; }
  .pb-right-column .about-product {
    margin: 15px 0 20px 0; }
    .pb-right-column .about-product li {
      margin-bottom: 5px;
      font-weight: 500;
      font-size: 13px; }
      .pb-right-column .about-product li span {
        font-weight: 400; }

.content_prices {
  padding: 0px; }
  .content_prices .brutto {
    color: #383838;
    font-size: 15px;
    float: left;
    width: 100%; }

.our_price_display .price {
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
  color: #383838;
  font-size: 22px; }

#old_price_display, #old_price_display span.price {
  color: #e84855;
  font-size: 16px;
  margin-left: 5px;
  text-decoration: line-through; }

.resetimg {
  padding: 10px 0 0;
  float: left; }

#old_price {
  padding-bottom: 0px; }

#attributes {
  margin: 20px 0 0 0;
  border-top: 1px solid #dbdbdb;
  padding: 10px 0 0 0; }

#attributes fieldset {
  padding-bottom: 15px; }

#quantity_wanted_p {
  border-radius: 8px;
  float: left;
  width: 100%;
  margin-top: 0px;
  border: 1px solid #eeeeee; }
  #quantity_wanted_p .textL {
    float: left;
    color: #383838;
    font-size: 12px;
    font-weight: 500;
    padding: 18px 0 0 13px; }
  #quantity_wanted_p #quantity_wanted_p .btn {
    float: left;
    margin-left: 0px; }
  #quantity_wanted_p .leftQ {
    float: left; }
  #quantity_wanted_p .box-cart-bottom {
    float: right; }
  #quantity_wanted_p #add_to_cart {
    margin: 0px;
    padding: 0px;
    height: 50px; }
  #quantity_wanted_p .box-info-product p {
    margin: 0px;
    padding: 0px; }
  #quantity_wanted_p .exclusive {
    border: none;
    background: none;
    border-radius: 0px;
    border-radius: 0px;
    margin: 0px;
    padding: 0px; }
    #quantity_wanted_p .exclusive:before {
      display: none; }
    #quantity_wanted_p .exclusive span {
      background: #f8e81c;
      border: none;
      border-radius: 0px;
      text-transform: none;
      padding: 16px 15px;
      padding-right: 50px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      color: #2d3750;
      font-size: 13px;
      font-weight: 700;
      float: right; }
    #quantity_wanted_p .exclusive:hover span {
      background: #f7e608; }
  #quantity_wanted_p .btn.button-plus, #quantity_wanted_p .btn.button-minus {
    font-size: 14px;
    line-height: 14px;
    color: #c0c0c0;
    border-radius: 100%;
    text-shadow: none;
    background: none !important;
    padding: 0;
    border: none;
    margin-top: 16px; }
    #quantity_wanted_p .btn.button-plus span, #quantity_wanted_p .btn.button-minus span {
      border-radius: 100%;
      width: 20px;
      color: #1B2845;
      height: 20px;
      font-size: 9px;
      line-height: 13px;
      display: block;
      text-align: center;
      background: #eff0f5;
      border: none; }
  #quantity_wanted_p .text {
    float: left;
    font-size: 14px;
    padding: 0px;
    margin: 6px 0 0 5px;
    width: 80px;
    color: #383838;
    font-size: 12px;
    font-weight: 500;
    margin: 13px 0 0 9px; }
  #quantity_wanted_p input {
    border: none;
    background: transparent; }

span.view_scroll_spacer {
  float: left;
  width: 100%;
  padding-left: 12px;
  margin: 10px 0 10px 0;
  padding: 0px;
  text-align: center; }

#view_scroll_left, #view_scroll_right {
  display: inline !important;
  float: initial !important; }

#view_scroll_right {
  margin-top: 10px; }

#view_scroll_right:before {
  content: "\f0d7";
  color: #4a4a4a; }

#view_scroll_left:before {
  content: "\f0d8";
  color: #4a4a4a; }

.bottom-block-row {
  clear: both; }
  .bottom-block-row .block_content {
    padding: 15px; }

.three-block .block {
  background: #fff;
  border-radius: 8px;
  border: none;
  min-height: 380px; }

.table-data-sheet tr td {
  padding: 10px 20px 11px;
  color: #22293f;
  font-size: 12px;
  font-weight: 500; }

.table-data-sheet {
  border-bottom: 2px solid #f6f7fb;
  color: #22293f;
  font-size: 12px;
  font-weight: 500; }
  .table-data-sheet a {
    color: #4a84ff; }
    .table-data-sheet a:hover {
      color: #2b6fff; }

.table-data-sheet tr {
  border-top: 2px solid #f6f7fb;
  border-left: 1px solid #f6f7fb;
  border-right: 1px solid #f6f7fb; }

.table-data-sheet tr td:first-child {
  border-right: none;
  width: auto;
  white-space: pre;
  font-weight: 700;
  color: #2d3750;
  background: #e8eaf4; }

.table-data-sheet tr td:nth-child(n + 2) {
  border-right: 2px solid #f6f7fb; }

#product .rte {
  padding: 0px;
  word-wrap: break-word; }

.bottom-block-row.download h4 a {
  color: #22293f !important;
  font-size: 13px;
  font-weight: 600; }

.bottom-block-row.download .btn-default {
  color: #323232 !important;
  font-size: 11px !important;
  font-weight: 500 !important;
  border-radius: 0px !important;
  background: #fff !important;
  border: 1px solid #e8eaf4 !important; }

#category .comments, #product .comments {
  margin-top: 45px;
  float: left;
  width: 100%; }

.advert-subpage {
  margin: 0px 15px; }

.block.subpage .block_content {
  padding: 15px; }

ul.step li.step_current span {
  border-color: #3772ff;
  color: #fff;
  text-shadow: none;
  background: #3772ff; }

ul.step li.step_current {
  background: #4a84ff !important;
  border-color: #4a84ff; }

ul.step li.step_todo {
  background: #4a84ff !important;
  border-color: #4a84ff; }
  ul.step li.step_todo span {
    border-color: #4a84ff;
    color: #fff;
    text-shadow: none; }

ul.step li.step_done {
  border-color: #3772ff;
  color: #fff;
  text-shadow: none;
  background: #3772ff; }
  ul.step li.step_done a {
    border-color: #4a84ff;
    color: #fff;
    text-shadow: none; }

.form-control {
  border: 1px solid #d6d4d4 !important; }

ul.step li a:after, ul.step li span:after, ul.step li.step_current span:after, ul.step li.step_current_end span:after {
  right: -27px; }

#add_address {
  width: 271px; }

.form-control {
  padding: 23px 5px;
  border-radius: 5px; }

#address .form-group, #identity .form-group, #account-creation_form .form-group, #new_account_form .form-group, #opc_account_form .form-group, #authentication .form-group {
  margin-bottom: 15px; }

div.selector select {
  height: 48px; }

div.selector span {
  color: #666;
  text-shadow: none;
  background: transparent;
  padding: 10px 0px;
  float: left;
  height: initial; }
  div.selector span:after {
    content: "\f0d7";
    font-family: "FontAwesome";
    display: inline-block;
    float: right;
    font-size: 18px;
    color: #666;
    padding: 0px;
    margin-right: 10px; }

div.selector {
  background-position: 0px;
  line-height: 48px;
  height: 48px;
  padding: 0 0 0 10px;
  position: relative;
  overflow: hidden;
  background: #fff;
  border: 1px solid #d6d4d4 !important;
  border-radius: 5px; }

input.uniform-input, select.uniform-multiselect, textarea.uniform {
  padding: 14px 5px;
  height: initial; }

.cart_navigation .button.button-medium {
  font-size: 14px !important; }

/*# sourceMappingURL=custom.css.map */
