</div>
</div>
</div>
<div class="contact-bg">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h3>Proffesional advice</h3>
				<h4>We have more than 10 years of experience in advising and our experts will help you in every case 7 days a week.</h4>

				<img src="{$tpl_uri}img/custom/phone-icon.svg">

				<span class="phone">+49 555 444 333</span>

			</div>
		</div>
	</div>
</div>
<div class="container">