	<div class="box our-atuts">
		<div class="row">
			<div class="col-sm-6">
				<h3>All parts for car!</h3>
				<h4>Donec arcu nibh, tincidunt eu tortor non, accumsan volutpat enim.</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean luctus augue in lorem ornare rutrum. Phasellus pretium accumsan lacus, a lacinia ligula elementum eu. Duis id dui et tellus congue feugiat vel et lectus. Donec arcu nibh, tincidunt eu tortor non, accumsan volutpat enim.</p>
			</div>
			<div class="col-sm-6 img-right">
				<img src="{$tpl_uri}img/custom/our-atuts.png" class="img-responsive pull-right">
			</div>
		</div>
	</div>