#blockpanelselection_block_left {
	background: white;
	border: 4px solid #233f92; 
	margin: 0 0 0 0;
	margin-bottom: 10px;
	height: auto;
	} 
#blockpanelselection_block_left p {padding:4px 0 0 0;margin-left: 3px;}
#blockpanelselection_block_left select{float:center;padding:4px;width:95%;height:35px;margin-top: 5px; margin-left: 6px;text-transform:uppercase;font-weight:bold;}
#blockpanelselection_block_left .title_block {
  font: 500 26px/30px "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 0 15px 18px;
  color: #ce2127;
  margin-bottom: 0px; /*orig.13px */
  background: WHITE; 
  overflow: hidden;
  border: none;
}
#blockpanelselection_block_left input{
	margin-left: 10px;
	padding: 2px;
	width:50px; 
	border:1; 
	background-color:white;
	text-align: center;
	/*text-transform: uppercase;*/
	}

#OpenCar {
  float: right;
  margin: 2%;
  width:60px; 
  height:36px;
  /*color: black;  */
  color: white; background: blue;
}

#CleanDataCar {
  float: left;
  margin: 2%;
  width:85px;
  color: black;
}

.textinput {        
	font: 500 18px/24px "Roboto", sans-serif;
	background-size: 195px 45px;
    margin: 0 auto;
    width: 100%;
    padding-top: 0px;	
	border: 2px white solid;
	}
	
#Edit_VRM_num { background: url(/modules/blockpanelselection/img_reg_num/license_plate_gb.png) no-repeat ; background-position: left -2px top -2px; }
#Edit_Denmark_num { background: url(/modules/blockpanelselection/img_reg_num/license_plate_dk.png) no-repeat ; background-position: left -2px top -2px; }
#Edit_Finland_num { background: url(/modules/blockpanelselection/img_reg_num/license_plate_fin.png) no-repeat ; background-position: left -2px top -2px; }
#Edit_France_num { background: url(/modules/blockpanelselection/img_reg_num/license_plate_fr.png) no-repeat ; background-position: left -2px top -2px; }
#Edit_Netherlands_num { background: url(/modules/blockpanelselection/img_reg_num/license_plate_nl.png) no-repeat ; background-position: left -2px top -2px; }
#Edit_Norway_num { background: url(/modules/blockpanelselection/img_reg_num/license_plate_no.png) no-repeat ; background-position: left -2px top -2px; }
#Edit_Sweden_num { background: url(/modules/blockpanelselection/img_reg_num/license_plate_sw.png) no-repeat ; background-position: left -2px top -2px; }
#Edit_KBA_num { background: url(/modules/blockpanelselection/img_reg_num/license_plate_kba.png) no-repeat ; background-position: left -2px top -2px; }
#Edit_VIN_num { background: url(/modules/blockpanelselection/img_reg_num/license_plate_vin.png) no-repeat ; background-position: left -2px top -2px; }
#Edit_Italian_num { background: url(/modules/blockpanelselection/img_reg_num/license_plate_it.png) no-repeat ; background-position: left -2px top -2px; }
#Edit_Portugal_num { background: url(/modules/blockpanelselection/img_reg_num/license_plate_it.png) no-repeat ; background-position: left -2px top -2px; }







